@(user: models.User)(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@main(Messages("home.title"), Some(user)) {
    <!-- Page Canvas-->
    <div id="page-canvas">
      <!--Off Canvas Navigation-->
      <nav class="off-canvas-navigation">
          <header>Navigation</header>
          <div class="main-navigation navigation-off-canvas"></div>
      </nav>
      <!--end Off Canvas Navigation-->
      <!--Page Content-->
      <div id="page-content">
          <!-- Map Canvas-->
          <div class="map-canvas list-solid">
              <!-- Map -->
              <div class="map">
                  <div class="toggle-navigation">
                      <div class="icon">
                          <div class="line"></div>
                          <div class="line"></div>
                          <div class="line"></div>
                      </div>
                  </div>
                  <!--/.toggle-navigation-->   
                  <div id="map" class="map-canvas" class="has-parallax"></div>
              </div>
              <!-- end Map -->
              <!--Items List-->
              <div class="items-list">
                  <div class="inner">
                      <div class="scroller1">
                          <div class="filter">
                              <form class="main-search" role="form" method="post" action="?">
                                  <header class="clearfix">
                                      <h3 class="pull-left">Search</h3>
                                      <a href="#advanced-search" class="show-more pull-right" data-toggle="collapse" aria-expanded="false" aria-controls="advanced-search">Advanced Search</a>
                                  </header>
                                  <div class="advanced-search collapse" id="advanced-search">
                                      <h4>Features</h4>
                                      <ul class="list-unstyled checkboxes">
                                          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="1">Free Parking</label></div></li>
                                          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="2">Cards Accepted</label></div></li>
                                          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="3">Wi-Fi</label></div></li>
                                          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="4">Air Condition</label></div></li>
                                          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="5">Reservations</label></div></li>
                                          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="6">Team-buildings</label></div></li>
                                          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="7">Places to seat</label></div></li>
                                          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="8">Winery</label></div></li>
                                          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="9">Draft Beer</label></div></li>
                                          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="10">LCD</label></div></li>
                                          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="11">Saloon</label></div></li>
                                          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="12">Free Access</label></div></li>
                                          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="13">Terrace</label></div></li>
                                          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="14">Minigolf</label></div></li>
                                          <li><div class="checkbox"><label><input type="checkbox" name="features[]" value="15">Night Bar</label></div></li>
                                      </ul>
                                  </div>
                                  <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="form-group">
                                              <label for="location">Location</label>
                                              <div class="input-group location">
                                                  <input type="text" class="form-control" id="pac-input" placeholder="Enter Location">
                                                  <span class="input-group-addon"><i class="fa fa-map-marker geolocation" data-toggle="tooltip" data-placement="bottom" title="Find my position"></i></span>
                                              </div>
                                          </div>
                                          <!-- /.form-group -->
                  </div>
                                      <div class="col-md-6 col-sm-6">
                                          <div class="form-group">
                                              <label for="type">Type Of POI</label>
                                              <select name="type" multiple title="All" data-live-search="true" id="type">
                                                  <option value="1">Stores</option>
                                                  <option value="2" class="sub-category">Apparel</option>
                                                  <option value="3" class="sub-category">Computers</option>
                                                  <option value="4" class="sub-category">Nature</option>
                                                  <option value="5">Tourism</option>
                                                  <option value="6">Restaurant & Bars</option>
                                                  <option value="7" class="sub-category">Bars</option>
                                                  <option value="8" class="sub-category">Vegetarian</option>
                                                  <option value="9" class="sub-category">Steak & Grill</option>
                                                  <option value="10">Sports</option>
                                                  <option value="11" class="sub-category">Cycling</option>
                                                  <option value="12" class="sub-category">Water Sports</option>
                                                  <option value="13" class="sub-category">Winter Sports</option>
                                              </select>
                                          </div>
                                          <!-- /.form-group -->
                                      </div>
                                      <!--/.col-md-6-->
                                      <div class="col-md-6 col-sm-6">
                                          <div class="form-group">
                                              <label for="bedrooms">Number Of POI</label>
                                              <div class="input-group counter">
                                                  <span class="input-group-btn">
                                                      <button class="btn btn-default" type="button"><i class="fa fa-minus"></i></button>
                                                  </span>
                                                  <input type="text" class="form-control" id="bedrooms" name="bedrooms" placeholder="Any">
                                                  <span class="input-group-btn">
                                                      <button class="btn btn-default" type="button"><i class="fa fa-plus"></i></button>
                                                  </span>
                                              </div><!-- /input-group -->
                                          </div>
                                          <!-- /.form-group -->
                                      </div>
                                      <!--/.col-md-3-->
                                 
                                      <!--/.col-md-3-->
                                     
                                      <div class="col-md-12 col-sm-12">
                                          <div class="form-group">
                                              <label>Distance Between The Destination and POI</label>
                                              <div class="ui-slider" id="price-slider" data-value-min="50" data-value-max="50000">
                                                  <div class="values clearfix">
                                                      <input class="value-min" name="value-min[]" readonly>
                                                      <input class="value-max" name="value-max[]" readonly>
                                                  </div>
                                                  <div class="element"></div>
                                              </div>
                                          </div>
                                          <!-- /.form-group -->
                                      </div>
                
                
                                      <!--/.col-md-6-->
                                  </div>
                                  <!--/.row-->
                              </form>
                              <!-- /.main-search -->
                          </div>
                          <!--end Filter-->
                          <header class="clearfix">
                              <h3 class="pull-left">POI Near Your Destination</h3>
                              <div class="buttons pull-right">
                                  <span>Display:</span>
                                  <span class="icon" id="display-grid"><i class="fa fa-th"></i></span>
                                  <span class="icon  active" id="display-list"><i class="fa fa-th-list"></i></span>
                              </div>
                          </header>
                          <ul>
                           
                          </ul>
                          <div class="scroller__track">
                              <div class="scroller__bar">
                                 <table id="resultsPoi">
                           
                                 </table>
                              </div>
                          </div>
                          
                      </div>
                  </div>
                  <!--results-->
              </div>
              <!--end Items List-->
          </div>
          <!-- end Map Canvas-->
       
       
         
      </div>
      <!-- end Page Content-->
  </div>
  <!-- end Page Canvas-->
  <script type="text/javascript" src="@routes.Assets.at("assets/js/jquery-2.1.0.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("assets/js/sweetalert.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("assets/js/d3.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("assets/js/topojson.v0.min.js")"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCt6upiIEBBjyXDJAcofd5Yrs0F1ufFzWM&libraries=geometry&libraries=places,geometry" type="text/javascript"></script>
  <script type="text/javascript" src="@routes.Assets.at("assets/js/bo/options.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("assets/js/bo/MohammediaMap.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("assets/js/bo/contextApp.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("assets/js/bo/Singleton.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("assets/js/bo/Services.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("assets/js/bo/Trajet.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("assets/js/bo/PointInteret.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("assets/js/bo/PositionLatLng.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("assets/js/bo/Polygon.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("assets/js/bo/VoronoiDiagram.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("assets/js/appMain/mainApp.js")"></script>
  

  <script>
    var _latitude = 51.541216;
    var _longitude = -0.095678;
    var jsonPath = 'assets/json/real-estate.json.txt';
    var mapProvider = 'HERE.normalDayGrey';
    // Load JSON data and create OSM
    $.getJSON(jsonPath)
            .done(function(json) {
                createHomepageOSM(_latitude,_longitude,json,mapProvider);
            })
            .fail(function( jqxhr, textStatus, error ) {
                console.log(error);
            })
    ;
    // Set if language is RTL and load Owl Carousel
    $(window).load(function(){
        var rtl = false; // Use RTL
        initializeOwl(rtl);
    });
  </script>
}